:root {
    --grey: #BFBFBF;
    --orange: #FC814A;
    --cyan: #564256;
    --green: #00cc00;
}

body {
    margin: 0;
    padding: 0;
}

/*Main container for entire page*/
.grid-container {
    display: grid;
    grid-template: 30vh 70vh / 30vw 70vw;
    grid-template-areas: 
        "image header"
        "image form-container";
}

.image {
    grid-area: image;
    background: var(--orange);
}

.header {
    grid-area: header;
    background: var(--cyan);
    padding: 75px;
}

.form-container {
    grid-area: form-container;
    background: var(--grey);
    padding: 5px 75px;
}

.form-container > h3 {
    font-size: 32px;
}

form > div > button {
    background: var(--orange);
}

form {
    display: grid;
    grid-template: repeat(4, 75px) / repeat(2, 200px);
    grid-column-gap: 100px;
    grid-row-gap: 20px;

}

input {
    height: 20px;
    width: 220px;
    border-radius: 3px;
    margin-top: 3px;
}

input + span {
    position: relative;
}

input:valid + span::after {
    position: absolute;
    content: "✓";
    font-size: 28px;
    color: var(--green);
    left: 205px;
    top: -28px;
}


input[id="user_email"]:invalid:focus + span::after {
    content: "*Enter valid email";
}

input[id="user_phone"]:invalid:focus + span::after {
    content: "*Enter 10-digit phone number";
}

input[id="user_password"]:invalid:focus + span::after {
    content: "*Enter password";
}

input[id="confirm_password"]:invalid:focus + span::after {
    content: "*Passwords did not match";
}
